*{
    box-sizing: border-box;
    position: relative;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    overflow: hidden;
}

/* Public version */
.givePadding{
  margin-top: 30px; 
  margin-bottom: 30px;
}

/* Nav Bar */
.nav {
    height: 150px;  
    background-color: rgba(0,0,0,0.2);  
    font-size: 36px;
}
@media (max-width:768px) {
    .nav{
        height: 200px;
    }
} 
/* Head */

.ahead .aheadR{
   display: flex;
   flex-direction: column;
   justify-content: end;
}
.ahead .aheadPic{
    height: 75vh;
    width: 100%;
   
}
/* Text */
.atext .row{
    text-align: center;
    padding: 15px;
}
.atext .atextPlace{
    justify-content: left;
}
.atext .atextContent h5{
    line-height: 175%; 
}
/* Author */
.aauthor{
    padding-top: 60px;
    padding-bottom: 60px;
}

.aauthor .aauthorPic{
    height: 250px;
    width: 250px;
    background-color:white;
    margin: 0 auto;
 }
.aauthor .row{
    margin-left:8%;margin-right:8%;   
 }
.aauthor .aaTopic{
    font-weight: bolder;
}
.aauthor .aaText{
    line-height: 175%; 
}
/* Carousel */ 
 .carousel {
    width: 75%;
    height: 75vh;
    display: flex;
   margin: 0 auto;

 }
.footer {
    height:350px;  
    background-color: rgba(0,0,0,0.2);  
    font-size: 36px;
}